.article {
  width: 100%;
  background-color: white;
  display: grid;
  gap: 0px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  position: relative;
}

.title-msg {
  font-size: 4rem;
  color: white;
  text-shadow: 2px 2px 4px #fffcfc;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
}
.animal-card {
  height: 150px;
  width: 150px;
  margin: 2px 0px;
  /* border: 3px solid black; */
  /* border-radius: 10px; */
}
.card-cat {
  opacity: 0.5;
  background: url("/animal-skins/cat.png") no-repeat;
}
.card-cat:hover {
  transition: all 0.3s;
  transform: scale(1.1);
  background: url("/animal-real/cat.png") no-repeat;
  background-size: cover;
  opacity: 1;
}

.card-cat2 {
  opacity: 0.5;
  background: url("/animal-skins/cat2.png") no-repeat;
}
.card-cat2:hover {
  transition: all 0.3s;
  transform: scale(1.1);
  background: url("/animal-real/cat2.png") no-repeat;
  background-size: cover;
  opacity: 1;
}
.card-che {
  opacity: 0.5;
  background: url("/animal-skins/che.png") no-repeat;
}
.card-che:hover {
  transition: all 0.3s;
  transform: scale(1.1);
  background: url("/animal-real/che.png") no-repeat;
  background-size: cover;
  opacity: 1;
}

.card-chiken {
  opacity: 0.5;
  background: url("/animal-skins/chiken.png") no-repeat;
}
.card-chiken:hover {
  transition: all 0.3s;
  transform: scale(1.1);
  background: url("/animal-real/chiken.png") no-repeat;
  background-size: cover;
  opacity: 1;
}

.card-cow {
  opacity: 0.5;
  background: url("/animal-skins/cow.png") no-repeat;
}
.card-cow:hover {
  transition: all 0.3s;
  transform: scale(1.1);
  background: url("/animal-real/cow.png") no-repeat;
  background-size: cover;
  opacity: 1;
}

.card-croc {
  opacity: 0.5;
  background: url("/animal-skins/croc.png") no-repeat;
}
.card-croc:hover {
  transition: all 0.3s;
  transform: scale(1.1);
  background: url("/animal-real/croc.png") no-repeat;
  background-size: cover;
  opacity: 1;
}

.card-dog1 {
  opacity: 0.5;
  background: url("/animal-skins/dog1.png") no-repeat;
}
.card-dog1:hover {
  transition: all 0.3s;
  transform: scale(1.1);
  background: url("/animal-real/dog1.png") no-repeat;
  background-size: cover;
  opacity: 1;
}
.card-dog2 {
  opacity: 0.5;
  background: url("/animal-skins/dog2.png") no-repeat;
}
.card-dog2:hover {
  transition: all 0.3s;
  transform: scale(1.1);
  background: url("/animal-real/dog2.png") no-repeat;
  background-size: cover;
  opacity: 1;
}
.card-leo {
  opacity: 0.5;
  background: url("/animal-skins/leo.png") no-repeat;
}
.card-leo:hover {
  transition: all 0.3s;
  transform: scale(1.1);
  background: url("/animal-real/leo.png") no-repeat;
  background-size: cover;
  opacity: 1;
}
.card-pig {
  opacity: 0.5;
  background: url("/animal-skins/pig.png") no-repeat;
}
.card-pig:hover {
  transition: all 0.3s;
  transform: scale(1.1);
  background: url("/animal-real/pig.png") no-repeat;
  background-size: cover;
  opacity: 1;
}

.card-ti {
  opacity: 0.5;
  background: url("/animal-skins/ti.png") no-repeat;
}
.card-ti:hover {
  transition: all 0.3s;
  transform: scale(1.1);
  background: url("/animal-real/ti.png") no-repeat;
  background-size: cover;
  opacity: 1;
}
.card-zze {
  opacity: 0.5;
  background: url("/animal-skins/zze.png") no-repeat;
}
.card-zze:hover {
  transition: all 0.3s;
  transform: scale(1.1);
  background: url("/animal-real/zze.png") no-repeat;
  background-size: cover;
  opacity: 1;
}
.card-peacock {
  opacity: 0.5;
  background: url("/animal-skins/peacock.jpg") no-repeat;
}
.card-peacock:hover {
  transition: all 0.3s;
  transform: scale(1.1);
  background: url("/animal-real/peacock.jpg") no-repeat;
  background-size: cover;
  opacity: 1;
}
